services:

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper:latest
    hostname: zookeeper
    networks:
      - kafka-net
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
      - "2888:2888"
      - "3888:3888"
    volumes:
      - zk-data:/data
      - zk-log:/datalog

  kafka:
    container_name: kafka
    image: wurstmeister/kafka:latest
    hostname: kafka
    depends_on:
      - zookeeper
    networks:
      - kafka-net
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_LOG_DIRS: /kafka/kafka-logs
    volumes:
      - kafka-data:/kafka/kafka-logs

networks:
  kafka-net:
    driver: bridge

volumes:
  zk-data:
  zk-log:
  kafka-data: